@value color-star-fill: #F59D0F;
@value color-star-hover: #FFC873;

.stars {
  display: flex;
  padding-right: 0.25rem;
}

.starButton {
}

.starOn,
.starOnHoverable {
  fill: color-star-fill;
  stroke: color-star-fill;
}

.starButton:hover .starOffHoverable,
.starButton:hover .starOnHoverable {
  fill: color-star-hover;
  stroke: color-star-hover;
}

.starButton:active .starOffHoverable,
.starButton:active .starOnHoverable {
  transform: scale(0.8);
  transform-origin: center;
  transition: transform 50ms linear;
}

.starOff,
.starOffHoverable {
  fill: none;
  stroke: color-star-fill;
}

.starOnHoverable:hover,
.starOffHoverable:hover {
  fill: color-star-hover;
  stroke: color-star-hover;
}
