@value color-star-fill: #F59D0F;
@value color-star-hover: #FFC873;

.stars {
  display: flex;
}

.starOn,
.starOnHoverable {
  fill: color-star-fill;
  stroke: color-star-fill;
}

.starOnHoverable:hover {
  fill: color-star-hover;
  stroke: color-star-hover;
}

.starOff,
.starOffHoverable {
  fill: none;
  stroke: color-star-fill;
}

.starOffHoverable:hover {
  fill: color-star-hover;
  stroke: color-star-hover;
}
