@import "../../../index.css";

.hotelRoom {
  display: flex;
  padding: 0.5rem 0;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
}

.hotelRoomNameAndVisitors {
  margin-right: 1rem;
  composes: hotelLeftElement from "../hotels.module.css";
}

.hotelRoomDescription {
  composes: hotelRightElement from "../hotels.module.css";
}

.hotelRoomName {
  margin-bottom: 0.5rem;
}

.visitors {
  margin-bottom: 0.25rem;
}

.typeOfVisitors {
  font-weight: 600;
}

.numberOfVisitors {
  font-weight: 500;
  color: var(--color-text-light);
}

@media screen and (max-width: 600px) {
  .hotelRoom {
    flex-direction: column;
  }

  .hotelRoomNameAndVisitors {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}
