.hotelHeader {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.hotelHeaderImage {
  min-width: 240px;
  composes: hotelLeftElement from "../hotels.module.css";
}

.hotelDetails {
  composes: hotelRightElement from "../hotels.module.css";
}

.hotelNameAndStarRating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.hotelName {
  font-size: 1.75rem;
  margin-bottom: 0;
}

.hotelAddress1 {
  font-weight: 600;
  font-size: 1.125rem;
}

.hotelAddress2 {
  font-weight: 500;
  font-size: 1rem;
}
