.hotelHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.hotelHeaderImage {
  composes: hotelLeftElement from "../hotels.module.css";
}

.hotelDetailsAndRating {
  composes: hotelRightElement from "../hotels.module.css";
  display: flex;
  justify-content: space-between;
}

.hotelName {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.hotelAddress1 {
  font-weight: 600;
  font-size: 1.125rem;
}

.hotelAddress2 {
  font-weight: 500;
  font-size: 1rem;
}
