.filtersWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}

.filters {
  composes: box from "../../app.module.css";
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #fff;
  height: 3rem;
  margin-top: -2rem;
}

.numberOfVisitors {
  display: flex;
}

.numberOfVisitorsLabel {
  font-size: 1.5em;
}

.numberOfVisitorsButton {
  font-size: 1.5em;
}
