.filtersWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}

.filters {
  composes: box from "../../app.module.css";
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #fff;
  margin: -2rem 0.5rem 0;
  padding: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.numberOfVisitors {
  display: flex;
  margin: 0.25rem 0;
}

.visitorsLabel {
  font-size: 1.125rem;
  padding: 0 0.5rem;
}

.numberOfVisitorsLabel {
  display: flex;
  justify-content: center;
  min-width: 1.25rem;
  font-size: 1.25rem;
  padding: 0 0.25rem;
}

.numberOfVisitorsButton {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  border: 0.5px solid;
  border-color: var(--color-text-base);
  border-radius: 0.75rem;
}

.numberOfVisitorsSVG {
  width: 0.75rem;
  height: 0.75rem;
  fill: var(--color-text-base);
}

.numberOfVisitorsButton:hover {
  border-color: var(--color-text-light);
}

.numberOfVisitorsButton:active {
  transform: scale(0.9);
  transform-origin: center;
  transition: transform 50ms linear;
}
.numberOfVisitorsButton:hover .numberOfVisitorsSVG {
  fill: var(--color-text-light);
}
